<app-anuncios></app-anuncios>
<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha-principal [texto_rojo]="'HORARIOS '" [texto_negro]="' · San Luis'" [imagen]="'icon-movies.png'"></app-ficha-principal>

        <div class="block_inf">
       

    
     <!-- PARA REDUCIR SU NIVEL DE ESTRES PROCURE NO USAR TANTO DIV, MENOS DIV--MEJOR VIDA JEJE-->

     <!-- Sugerencia, utilize las nuevas etiquetas de html5, que tambien puede cobinarlas con los divs
        <article>
            <section>
                <span></span>
            <section>

                 
            <section>
                <span></span>
            <section>

            <div>
                <div>
                      <span>titulo 1 </span>
                </div>
            <div>   
                 
        </article>
            -combinar para mejor legibilidad
            -simplicidad es mejor
            -mas de tres divs anidados --mayor estres, a no se que la tabulacion sea muy ordenada, pero noo
        igual es estresante jeje--> 
             
        
                <div class="contenido">
                    <p>{{transmiten | json}}</p>
                    <div class="columna-izquierda">

                                    <span class ="titulo_parte1">SELECCIONA</span><span class ="titulo_parte2"> TU PELICULA</span><br><br>
                                    <div class ="titulo"  *ngFor="let pelicula of peliculas" (click) = "seleccionar(pelicula)">

                                            {{pelicula.NOMBRE}}
                                            

                                    </div>

                   </div>
                  
               
                    <div class="columna-derecha">

                            <span class ="titulo_parte1">HORARIOS</span><span class ="titulo_parte2"> DESDE:</span>
                           
                           <section  >
                              
                               <app-ver-horario *ngIf="seHizoClick()"  [pelicula]="pelicula"></app-ver-horario>
                           </section>
                           

                        

                    </div>
                   
                </div>
                <article *ngIf="seHizoClick()" class ="descripcion_pelicula">
                    <app-descripcion-pelicula [pelicula] = "pelicula"></app-descripcion-pelicula>
                </article>
               </div>

    </div>
 </div>

 