<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha [titulo]="'CALIFICACIONES'" [subtitulo]="' · CINEMACENTER'" [pais]="' · ARGENTINA'" [imagen]="'icon-cca.png'"></app-ficha>
        <div class="block_inf">

            <article style="max-width: 40rem;">

                <section class="seccion1">

                    <ol class="lista_estrella">
                        <li> <b> ATP</b>  - Apta para todo público.<br><br></li>

                        <li> <b> ATP C/R</b> - Apta para todo público con reservas.<br><br></li> 

                        <li> <b> SAM 13</b> - Sólo apta para mayores de 13 años, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br></li> 

                        <li>  <b> SAM 13 C/R</b> - Sólo apta para mayores de 13 años con reservas, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br></li> 

                        <li>  <b> SAM 16</b> - Sólo apta para mayores de 16 años, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br></li> 

                        <li>  <b> SAM 16 C/R</b> - Sólo apta para mayores de 16 años con reservas, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br></li> 

                        <li>  <b> SAM 18 </b>- Sólo apta para mayores de 18 años, <b>presentando D.N.I.</b> Los menores de 18 años no podrán ingresar a la sala, aún en compañía de un adulto. <br><br></li> 
                    </ol>

                </section>
                <section class ="seccion2">

                    <span class="titulo1"><b>Ingreso de menores con autorización firmada</b></span><br><br>
                    <span class="titulo2"><b>Resolución 2890/2012 - INCAA</b></span><br>

                    <p>
                        A partir de la Resolución 2890/2012, los menores podrán ingresar a películas SAM 13 y 16 acompañados de un adulto, que no sea uno de sus padres,<br> presentando una autorización firmada por ellos.

                        Descargar formulario: <a href="#" >Aquí.</a>
                    </p>
                </section>

            </article>
        </div>
    </div>
</div>
