.titulo .myriad{
    font-size: 18px;
}
.titulo .lista_estrella{
    margin-top:20px;
}
.lista_estrella li{
   line-height: 18px;
    font-size: 12px;
    padding-bottom: 10px;
}
.titulo p,.titulo li{
    font-weight: lighter;
    font-family: Tahoma;
    color: #989898;
    font-size: 12px;
        line-height: 16px;
}