<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha [titulo]="'EMPRESA'" [subtitulo]="' · CINEMACENTER'" [pais]="' · ARGENTINA'" [imagen]="'icon-cca.png'"></app-ficha>
        <div class="block_inf">
            <img src="assets/img/shopping.jpg">
            <div class="titulo" style="margin-top: 20px;">
                <strong class="myriad">CINEMACENTER  ·  </strong><span>ARGENTINA</span>
                <ul  class="lista_estrella">
                    <li>Una companía argentina con años de trayectoria</li>
                </ul>
                <p>Circuito Cinemacenter es un equipo de profesionales especializados en la operación comercial y artística de salas de espectáculos públicos. Ofrece servicios de programación y asesoramiento a grupos de empresarios independientes que son parte de la industria del entretenimiento en Argentina.</p>

                <p>El objetivo es potenciar las iniciativas y performances de los emprendimientos comerciales del sector, entregándoles herramientas comerciales durante todas sus etapas.</p>

                <p>Cinemacenter entiende al cine como una experiencia sensorial, en donde el espectador puede disfrutar de seleccionados productos culturales que son ofrecidos en diferentes pantallas de las principales ciudades argentinas.</p>

                <p>Es por ello que, durante años, se ha posicionado como líder en la industria cinematográfica, con más de 80 salas equipadas con sistema de proyección digital que permiten la exhibición de películas en distintas dimensiones.</p>

                <p>Desde siempre, la empresa Cinemacenter se ha especializado en transmitir el conocimiento sobre nuevas tecnologías y políticas de marketing, para así brindar las herramientas necesarias a las empresas que asesora, posicionándolas dentro de los parámetros más avanzados a nivel mundial.</p>

                <p>En Cinemacenter crecemos para contarte las mejores historias</p>

            </div>
            <fieldset>
                <legend></legend>
            </fieldset>
            <iframe src="https://www.google.com/maps/d/embed?mid=1Dtc9H_yJtPlis_Iv7daVVossh9A" width="600" height="440"></iframe>
            <fieldset>
                <legend></legend>
            </fieldset>
            <h6>Servicios</h6>
            <ul  class="lista_estrella titulo">
                <li>Imagen y Sonido Digital</li>
                <li>El 100% de las ciudades cuenta con salas digitales</li>
                <li>Butacas anatómicas</li>
                <li>Candy-Bar</li>
                <li>Reserva y venta de entradas telefónicas</li>
                <li>Personal altamente capacitado</li>
                <li>Promociones especiales y descuentos</li>
                <li>Venta online de entradas y combos a través de WWW.MIBOLETERIA.COM.AR</li>
                <li>Terminales ATM para retirar entradas</li>
                <li>Promociones especiales para festejo de cumpleaños</li>
                <li>Concursos semanales de entradas y merchandising de peliculas</li>
            </ul>
        </div>
    </div>
</div>