
<section>
<span class="atributo">Lunes</span>
<br>
<span class="texto-gris">{{horarios.slice(2,15)}}</span>
<br>
<span class="atributo">Martes</span>
<br>
<span class="texto-gris">{{horarios.slice(2,15)}}</span>
<br>
<span class="atributo">Miércoles</span>
<br>
<span class="texto-gris">{{horarios.slice(2,15)}}</span>
<br>
<span class="atributo">Jueves</span>
<br>
<span class="texto-gris">{{horarios.slice(2,15)}}</span>
<br>
<span class="atributo">Viernes</span>
<br>
<span class="texto-gris">{{horarios.slice(2,15)}}</span>
<br>
<span class="atributo">Sábado</span>
<br>
<span class="texto-gris">{{horarios.slice(2,15)}}</span>
<br>
<span class="atributo">Domingo</span>
<br>
<span class="texto-gris">{{horarios.slice(17,22)}}</span>
<br>

</section>