<app-anuncios></app-anuncios>
<div style="max-width: 40rem;">
    <app-ficha-principal [texto_rojo]="'SUPERCOMBOS '" [texto_negro]="' CINEMACENTER'"></app-ficha-principal>
    
</div>


<article>
        
        
        <img src="assets/img/supercombos/litroaladdin.jpg">
        <br>
        <h4> <strong>COMBO LITRO ALADDIN </strong> </h4>
        
        <ul>
            <li>Incluye: </li>
            <li><strong class="remarca">ako</strong>: </li>
                
        </ul>

        <p><strong>plazas en la que es valido:</strong>  </p>
</article>
<hr>




<!--IMAGENES DEL FINAL-->
<section>
    <article>
        <div class="banner">
            <img src="assets/img/banner-cumple.png"><br>
            <img src="assets/img/banner-homemiboleteria.jpg">
        </div>
    </article>
</section>