<app-anuncios></app-anuncios>
<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha-principal [texto_rojo]="'SUPERCOMBOS '" [texto_negro]="' CINEMACENTER'" [imagen]="'icon-movies.png'"></app-ficha-principal>

    </div>
    <div class="block_inf">


            <div class="tarjeta" *ngFor="let c of combos">
                    <div class="imagen">
                       <img src="../../../assets/img/supercombos/{{c.ID_COMBO}}.jpg">
                   </div>
                   <br>
                   <div class="texto1">
                       <b class="titulo">{{c.NOMBRE}}</b>
                       <br>
                       <img src="../../../assets/img/estrella_roja.png">
                       <span class="texto gris">{{c.INCLUYE.split('#')[0]}} </span>
                       <br> 
                       <img src="../../../assets/img/estrella_roja.png">
                       <span class="texto gris"> {{c.INCLUYE.split('#')[1]}}</span>
                   </div>
                   
                   <br>
                   <br>
               </div><!--cierre tarjeta-->

        </div>

    </div>