<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" >
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <map name="area_logo" class="enlace_logo"><area shape="rect" coords="135,30,350,200" href="#"></map>
            <img class="brand logo imgLogo" src="assets/img/logo-cca2.png" usemap="#area_logo">
            <div class="nav-collapse collapse">
                <ul class="nav" style="margin-left:40px;">
                    <div class="span3"></div>
                    <li routerLinkActive="active"><a routerLink="/peliculas-en-cartelera">PELICULAS EN CARTELERA</a></li>
                    <li routerLinkActive="active"><a routerLink="/horarios" >HORARIOS</a></li>
                    <li routerLinkActive="active"><a routerLink="/proximos-estrenos">PR&Oacute;XIMOS ESTRENOS</a></li>
                    <li routerLinkActive="active"><a routerLink="/precios">PRECIOS</a></li>
                    <li routerLinkActive="active"><a routerLink="/supercombos" >SUPERCOMBOS</a></li>
                    <li routerLinkActive="active" ><a routerLink="/contacto">CONTACTO</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
