<div id="principal">
  <div style="max-width: 40rem;">
      <app-ficha-principal [texto_rojo]="'NEWS '" [texto_negro]="' LETTERS · '" [texto_light]="'RECIBI TODA LA INFORMACIÓN ACTUALIZADA DE TUS CINES'" [imagen]="'icon-news.png'"></app-ficha-principal>
      <div class="block_inf">
          <div class="row-fluid">
              <p class="peque">Suscribiéndote podes enterarte por mail de la programación, promociones y novedades de nuestros cines todas las semanas.</p>
              <p class="peque">En la semana de tu cumpleaños, te vamos a estar dando descuentos para que puedas disfrutar de una película con quien vos quieras!!</p>

          </div>
          <div class="row-fluid" style="margin-top: 10px;">
              
              <form action="#" class="form-horizontal form_cinema">
                  <fieldset>
                      <legend></legend>
                      <div class="control-group" id="r1Div">
                          <label class="control-label" for="r1"><strong>Nombre:</strong></label>

                          <div class="controls">
                              <input type="text"  maxlength="100"  id="r1" name="r1"  placeholder="Nombre Completo" required />
                          </div>
                      </div>

                      <div class="control-group" id="r2Div">
                        <label class="control-label" for="r1"><strong>Apellido:</strong></label>

                        <div class="controls">
                            <input type="text"  maxlength="100"  id="r1" name="r1"  placeholder="Apellido Completo" required />
                        </div>
                    </div>

                    <div class="control-group" id="r3Div">
                        <label class="control-label" for="r3"><strong>Género:</strong></label>
                        <div class="controls">
                            <select id="r3" name="r3"  required>
                                <option value="">(Elija un género)</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                                <option value="3">Otro</option>
                            </select>
                        </div>
                    </div>

                      <div class="control-group" id="r4Div">
                          <label class="control-label" for="r4"><strong>Email:</strong></label>
                          <div class="controls">
                              <input type="email"  maxlength="100"  id="r4" name="r4" placeholder="ejemplo@email.com"  required />
                          </div>
                      </div>
                      <br>

                      <div class="control-group" id="r5Div">
                          <label class="control-label" for="r5"><strong>DNI:</strong></label>
                          <div class="controls">
                              <input type="text" pattern="\d*"  maxlength="100"  id="r5" name="r5" placeholder="XXXXXXXX" required />
                          </div>
                      </div>
                    
                      <div class="control-group" id="r6Div">
                        <label class="control-label" for="r6"><strong>Fecha de Nacimiento:</strong></label>
                        <div class="controls">
                            <input type="text" pattern="\d*"  maxlength="100"  id="r6" name="r6" placeholder="dd/mm/aaaa" required />
                        </div>
                    </div>

                    <div class="control-group" id="r7Div">
                        <label class="control-label" for="r7"><strong>Profesión:</strong></label>
                        <div class="controls">
                            <input type="text" pattern="\d*"  maxlength="100"  id="r7" name="r7" placeholder="Profesión" required />
                        </div>
                    </div>

                      <div class="control-group" id="r8Div">
                          <label class="control-label" for="r8"><strong>Ciudad:</strong></label>
                          <div class="controls">
                              <select id="r8" name="r8"  required>
                                  <option value="">(Elija su ciudad)</option>
                                  <option value="1">Alta Gracia</option>
                                  <option value="2">Bahía Blanca</option>
                                  <option value="3">Catamarca</option>
                                  <option value="4">Corrientes</option>
                                  <option value="5">Florencio Varela</option>
                                  <option value="6">La Rioja</option>
                                  <option value="7">Mar del Plata</option>
                                  <option value="8">Mendoza</option>
                                  <option value="9">Resistencia</option>
                                  <option value="10">Rio Cuarto</option>
                                  <option value="11">San Juan</option>
                                  <option value="12">San Luis</option>
                                  <option value="13">Santiago del Estero</option>
                                  <option value="14">Tandil</option>
                                  <option value="15">Tucuman</option> 
                              </select>
                              <div id="inputCiudad" class="ocultar" >
                                  <input type="text" maxlength="100"  id="otra_ciudad" name="otra_ciudad"  placeholder="Ciudad" required />
                              </div>
                              <label for="otra_ciudad">Otra<input type="checkbox" id="otra_ciudad" name="otra_ciudad"></label>
                          </div>
                      </div>
                      <div class="control-group" id="r9Div">
                        <label class="control-label" for="r9"><strong>Teléfono:</strong></label>
                        <div class="controls">
                            <input type="text" pattern="\d*"  maxlength="100"  id="r9" name="r9" placeholder="Teléfono" required />
                        </div>
                    </div>

                    <div class="control-group" id="r10Div">
                        <label class="control-label" for="r10"><strong>Con quién vas:</strong></label>
                        <div class="controls">
                            <input type="text" pattern="\d*"  maxlength="100"  id="r10" name="r10" placeholder="Pareja/Amigos/Familia/Solo" required />
                        </div>
                    </div>


                    <div class="control-group" id="r11Div">
                        <label class="control-label" for="r11"><strong>Qué día:</strong></label>
                        <div class="controls">
                            <select id="r11" name="r11"  required>
                                <option value="1">Domingo</option>
                                <option value="2">Lunes</option>
                                <option value="3">Martes</option>
                                <option value="4">Miércoles</option>
                                <option value="5">Jueves</option>
                                <option value="6">Viernes</option>
                                <option value="7">Sábado</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group" id="r12Div">
                        <label class="control-label" for="r12"><strong>Horario:</strong></label>
                        <div class="controls">
                            <select id="r12" name="r12"  required>
                                <option value="1">Indistinto</option>
                                <option value="2">Matinee</option>
                                <option value="3">Tarde</option>
                                <option value="4">Primera noche</option>
                                <option value="5">Segunda noche</option>
                                <option value="6">Trasnoche</option>
                            </select>
                        </div>
                    </div>                    

                      <div class="controls button btn-cine boton_rojo botonSubmit">
                          <button type="submit"><span>SUSCRIBIRME</span></button>
                      </div>
                  </fieldset>
              </form>
              <br><br>
              <p class="peque">Si usted desea eliminar su información personal de nuestra base de datos y así dejar de recibir nuestros mailings y newsletter semanal haga click aquí.</p>
              <p class="peque">Para ser beneficiado con el cupón 2x1 por el cumpleaños, el usuario deberá suscribirse con al menos 10 días de anticipación a su fecha de cumpleaños completá todos los datos y ya mismo empezá a disfrutar de todos los beneficios que Cinemacenter tiene para ofrecerte.</p>

          </div>
      </div>


  </div>


</div>




