<div id="principal">
    <div style="max-width: 40rem;">
        <app-ficha [titulo]="'BENEFICIOS '" [imagen]="'icon-promos.png'" [subtitulo]="' · PROMOCIONES '"></app-ficha>
        <div class="block_inf">
                <!--<p>{{this.beneficios | json}}</p>-->
            <div class="tarjeta" *ngFor="let b of beneficios">
                 <div class="imagen">
                    <img src="../../../assets/img/beneficios/{{b.ID_BENEFICIO}}.jpg">
                </div>
                <div class="texto1">
                    <b class="titulo">{{b.NOMBRE}}</b>
                    <span class="fechas">Válida desde {{b.DESDE.slice(8,10)}}/{{b.DESDE.slice(5,7)}}/{{b.DESDE.slice(0,4)}} al <span class="rojo"> {{b.HASTA.slice(8,10)}}/{{b.HASTA.slice(5,7)}}/{{b.HASTA.slice(0,4)}}</span></span>
                    <div class="contenido">
                        <br>
                        <img src="../../../assets/img/estrella_roja.png">Tipo de beneficio: <span class="gris">Abonando tus entradas con {{b.NOMBRE}} podes disfrutar de un 2x1 en entradas {{b.TIPO}} todos los días.</span>
                        <br><br>
                    </div>
                </div>
                <div class="texto2">
                    <!--<p class="contenido">Plazas en la que es válido:-->
                        <!--<span class="gris" *ngFor="let plaza of b.getPlazas()">{{plaza}} - </span></p>-->
                    <p class="contenido">Condiciones Generales:
                        <span class="gris">{{b.CONDGENERALES}}</span>
                    </p>
                    <!--<p class="contenido">{{b.getDetalleSalas()}}</p>-->
                </div>
                <br><br>
            </div><!--cierre tarjeta-->
        </div>
    </div>
</div>